body{
    background-color: #6E7C7C;
}
header{
    background-color: #435560;
}

ul{height: 30px;
    
    list-style-type: none;
    text-align: center;
    margin:0;
    padding: 0;

}
li{

    display:inline;
}
li a{
    color:#F9F5EB;
    text-decoration: none;
    margin:20%;
    text-align: center;
   
    
}
form{


margin: 2%;

}
footer{
    
 background-color: #435560;
    margin-top: 38%;
    text-align: center;
    height: 100px;
}

input[type=text], select  {
    width: 100%;
    padding: 12px;
   margin:1%;

   box-sizing: border-box;
   
  
  }

input[type=submit] {
    width: 100%;
    background-color: #435560;
    color: white;
    padding: 10px 15px; 
    margin:20px 0;
    border: none;
    text-align: center;

    cursor: pointer;
  }
  legend{font-weight: 900;
  font-size: 30px;}
  .container {
    display:flex;
 
  }

  .cont{

    padding:3%;
    margin:3%;
     }
 p{color:#ECECEC}
 img{

    width: 55%;
    border-radius: 50% ;
 }
